# Scraping climate data from a Wiki page.

<b> “Where there is data smoke, there is business fire.” — Thomas Redman </b>
The internet is flooded with enormous data everyday. This <b> data </b> is useless if don't apply it.

### Import the libraries

<p>Beautiful Soup provides a few simple methods and Pythonic idioms for navigating, searching, and modifying a parse tree: a toolkit for dissecting a document and extracting what you need. It doesn't take much code to write an application
Beautiful Soup automatically converts incoming documents to Unicode and outgoing documents to UTF-8. You don't have to think about encodings, unless the document doesn't specify an encoding and Beautiful Soup can't detect one. Then you just have to specify the original encoding.
Beautiful Soup sits on top of popular Python parsers like lxml and html5lib, allowing you to try out different parsing strategies or trade speed for flexibility.
Beautiful Soup parses anything you give it, and does the tree traversal stuff for you. You can tell it "Find all the links", or "Find all the links of class externalLink", or "Find all the links whose urls match "foo.com", or "Find the table heading that's got bold text, then give me that text."<p>

Sending an HTTP GET request to the URL of the webpage that you want to scrape, which will respond with HTML content. We can do this by using the Request library of Python.

Fetching and parsing the data using Beautifulsoup and maintain the data in some data structure such as Dict or List.

Analyzing the HTML tags and their attributes, such as class, id, and other HTML tag attributes. Also, identifying your HTML tags where your content lives.

Outputting the data in any file format such as CSV, XLSX, JSON, etc.

In [1]:
import requests
import pandas as pd
import csv
import urllib.request
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/Climate_of_Dubai'
response = requests.get(url)
print(response.status_code)

200

In [4]:
soup = BeautifulSoup(response.text,"html.parser")

In [8]:
table = soup.findAll('table',{"class":"collapsible"})[0]
tr = table.findAll(['tr'])[1:11]

In [13]:
csvFile = open("climate.csv",'wt',newline='', encoding='utf-8')
writer = csv.writer(csvFile)  
try:   
        for cell in tr:
            th = cell.find_all('th')
            th_data = [col.text.strip('\n') for col in th]
            td = cell.find_all('td')
            row = [i.text.replace('\n','') for i in td]
            writer.writerow(th_data+row)      
        
finally:   
    csvFile.close()

In [17]:
df = pd.read_csv("climate.csv")
df

,Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
0,Record high °C (°F),31.6(88.9),37.5(99.5),41.3(106.3),43.5(110.3),47.0(116.6),46.7(116.1),49.0(120.2),48.7(119.7),45.1(113.2),42.0(107.6),41.0(105.8),35.5(95.9),49.0(120.2)
1,Average high °C (°F),23.9(75.0),25.4(77.7),28.3(82.9),33.0(91.4),37.7(99.9),39.5(103.1),40.9(105.6),41.3(106.3),38.9(102.0),35.4(95.7),30.6(87.1),26.2(79.2),33.4(92.2)
2,Daily mean °C (°F),19.1(66.4),20.5(68.9),23.0(73.4),27.0(80.6),31.4(88.5),33.4(92.1),35.5(95.9),35.9(96.6),33.3(91.9),29.8(85.6),25.4(77.7),21.2(70.2),28.0(82.3)
3,Average low °C (°F),14.3(57.7),15.5(59.9),17.7(63.9),21.0(69.8),25.1(77.2),27.3(81.1),30.0(86.0),30.4(86.7),27.7(81.9),24.1(75.4),20.1(68.2),16.3(61.3),22.5(72.4)
4,Record low °C (°F),1.5(34.7),6.9(44.4),9.0(48.2),13.4(56.1),15.1(59.2),18.2(64.8),20.4(68.7),23.1(73.6),16.5(61.7),15.0(59.0),11.8(53.2),8.2(46.8),1.5(34.7)
5,Average precipitation mm (inches),18.8(0.74),25.0(0.98),22.1(0.87),7.2(0.28),0.4(0.02),0.2(0.01),0.8(0.03),0.2(0.01),0.0(0.0),1.1(0.04),2.7(0.11),16.2(0.64),94.7(3.73)
6,Average precipitation days,5.5,4.7,5.8,2.6,0.3,0.2,0.5,0.5,0.1,0.2,1.3,3.8,25.5
7,Mean monthly sunshine hours,251,241,270,306,350,345,332,326,309,307,279,254,"3,570"
8,Mean daily sunshine hours,8.1,8.6,8.7,10.2,11.3,11.5,10.7,10.5,10.3,9.9,9.3,8.2,9.8